<config>

    <site>
        <title>MyCMS</title>
        <description>Edit me in the config.xml file</description>
        <footer>Copyright 2012 Buisness Enterprises</footer>
        <debug>true</debug>

    </site>

    <themename>default</themename>



    <database>
        <mysql>
            <host>localhost</host>
            <user>root</user>
            <pass>10843pat</pass>
            <database>mycms</database>
            <prefix>mycms_</prefix>
        </mysql>
    </database>


</config>